@model IEnumerable<VMSanPham>
@{
    Layout = "Admin/_LayoutAdmin";
}

<h2 class="text-center mb-5">Quản Lý Sản Phẩm</h2>

<form asp-action="Index" class="mb-3" method="get">
    <div class="form-group row g-3">
        <div class="col">
            <a class="btn btn-primary" asp-asp-controller="SanPham" asp-action="Create">Thêm mới</a>
        </div>
        <div class="col text-end">
            <!-- Align search form to the right -->
            <select asp-items="ViewBag.LoaiId" name="LoaiId" onchange="forms[0].submit()" class="form-control d-inline-block w-auto">
            </select>
            <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
        </div>
    </div>
</form>

<!-- Công việc thêm: Thêm điều kiện kiểm tra dữ liệu nếu như trống thì in dòng "Không có dữ liệu" -->

<table class="table">
    <thead>
        <tr>
            <th>Hình Ảnh</th>
            <th>Tên</th>
            <th>Loại</th>
            <th>Giá Tiền</th>
            <th>Số lượng trong Kho</th>
            <th>Mã Sản Phẩm</th>
             <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sanpham in Model)
        {
            <tr>
                <td><img width="150" src="assets\sanphams\@sanpham.hinhanh" /></td>
                <td>@sanpham.ten_sanpham</td>
                <td>@sanpham.loai_sanpham</td>
                <td>@sanpham.thanhtien.ToString("N0")</td>
                <td>@sanpham.soluong</td>
                <td>@sanpham.ma_sanpham</td>
                 <td style="white-space: nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="SanPham" asp-action="Edit"
                       asp-route-id="@sanpham.id_sanpham">Sửa</a>
                    <a class="btn btn-danger btn-sm" asp-controller="SanPham" asp-action="Delete"
                       asp-route-id="@sanpham.id_sanpham" onclick="return confirm('Chắc chắn xóa sản phẩm này?')">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>